<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @group.room %>
</p>

<p>
  <strong>Task:</strong>
  <%= @group.task %>
</p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
