<%color= [ '#FFDFFF',  "#FFDFF9",  "#FFDFEC",  "#FFDFE8",  "#FFDFDF",  "#FFDFD2",  "#FFDFC8",  "#FFDFBF",
"#FFBFFF",  '#FFBFF3',  "#FFBFDA",  "#FFBFD2",  "#FFBFBF",  "#FFBFA6",  "#FFBF91",  "#FFBF7F",
"#FF9FFF",  '#FF9FED',  "#FF9FC8",  "#FF9FBB",  "#FF9F9F",  "#FF9F7A",  "#FF9F5A",  "#FF9F3F",
"#FF8CFF",  '#FF8CEA',  "#FF8CBD",  "#FF8CAE",  "#FF8C8C",  "#FF8C60",  "#FF8C39",  "#FF8C19",
"#FF7FFF",  '#FF7FE7',  "#FF7FB6",  "#FF7FA5",  "#FF7F7F",  "#FF7F4E",  "#FF7F23",  "#FF7F00",
"#EE77EE",  '#EE77D8',  "#EE77AA",  "#EE779A",  "#EE7777",  "#EE7749",  "#EE7721",  "#EE7700",
"#CD66CD",  '#CD66BA',  "#CD6692",  "#CD6685",  "#CD6666",  "#CD663F",  "#CD661C",  "#CD6600",
"#8B458B",  '#8B457E',  "#8B4563",  "#8B455A",  "#8B4545",  "#8B452A",  "#8B4513",  "#8B4500",]%>
<% content_for :nav do %>
<%= render partial: "navs/nav_links"%>
<% end %>
   <%= link_to 'New Product', new_product_path, class: "btn btn-default" %>
<div class=" col-xs-12">
    <% @providers.each do |provider| %>
    
    <div>
        <div  id="side_brand"class="col-xs-12  row text-center h1">
            <%=provider.brand_name%>
        </div>
        <% provider.products.each do |product| %>
        <div class="panel panel-default col-xs-2" style=<%="background-color:"+"#{color.sample}"%>>
            <div class="panel-heading h3 "><%= product.name %> </div>
            <div class="col-xs-12 col-md-8">
                anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
            </div>
            <div class="col-xs-12 col-md-4"><%= image_tag(product.pict_url(:thumb) , class: "img img-rounded pull-right" , size: "100x100") %></div>
            
            <%= render partial:"likes/like_button" , locals: {product: product, user: current_user} %>
        </div>
        <% end %>
    </div>
    <% end %>
    </div>

