<div class="col-xs-offset-3 col-xs-6">

<p class="h1">
  <strong>Name:</strong>
  <%= @product.name %>
</p>
</div>
<p class="text-center">
  <strong>Pict:</strong>
  <%= image_tag(@product.pict) %>
</p>
<div class="col-xs-offset-3 col-xs-6">
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Edit', edit_product_path(@product),class: "btn btn-default"  %> 
<%= link_to 'Back', products_path ,class: "btn btn-default" %>
</div>
