<!DOCTYPE html>
<html>
<head>
  <title>PortFolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="find my mechanics in application_helper  _B.s._" class="message"> <%= flash_messages %></div>

<%= yield %>

</body>
</html>
